.card {
  min-height: 234px;
  color: #ffffff !important;
}

.card .name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.card .count {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 400;
  line-height: 90px;
}

@media (max-width: 767px) {
  .center {
    justify-content: space-evenly;
  }
}
